mat-drawer
{
    width: 300px ;
}

mat-drawer-container{
    height: 85%;
}
mat-drawer-content {
    padding: 20px;
  }

:host
{
    font-display: flex;
    flex-direction: column;
    height: 100%;
}

body{
    background-image: url("src/assets/images/images.jpg");
}
